/*
 *
 * Copyright (c) 2024 The ZMK Contributors
 * SPDX-License-Identifier: MIT
 *
 */

#include "eyelash_corne.dtsi"
#include "eyelash_corne-layouts.dtsi"

/ {
    chosen {
        zmk,kscan = &kscan0;
        zmk,physical-layout = &default_layout;
    };
};

&default_transform {
    col-offset = <7>;
};

&spi1 {
    status = "disabled";
};
