/dts-v1/;
#include <seeed/xiao_ble.dtsi>
#include "../eyelash_corne/eyelash_corne.dtsi"

/ {
    model = "Eyelash Corne Dongle";
    compatible = "eyelash,corne-dongle";

    chosen {
        zmk,central = &dongle;
    };
};

&dongle {
    compatible = "zmk,split-central";
};
