/dts-v1/;

/* SoC */
#include <nordic/nrf52840_qiaa.dtsi>

/* Shared, NON-layout keyboard definitions */
#include "eyelash_corne.dtsi"

/ {
    model = "Eyelash Corne Dongle";
    compatible = "eyelash,corne-dongle";

    chosen {
        zmk,central = &zmk_split_central;
    };

    zmk_split_central: split_central {
        compatible = "zmk,split-central";
    };
};
