/dts-v1/;

/* Base SoC */
#include <nordic/nrf52840_qiaa.dtsi>

/* Shared Corne definitions */
#include "../eyelash_corne/eyelash_corne.dtsi"

/ {
    model = "Eyelash Corne Dongle";
    compatible = "eyelash,corne-dongle";

    chosen {
        zmk,central = &dongle;
    };
};

&dongle {
    compatible = "zmk,split-central";
};
