/dts-v1/;

/* SoC */
#include <nordic/nrf52840_qiaa.dtsi>

/* Shared keyboard defs */
#include "eyelash_corne.dtsi"

 / {
    chosen {
        zmk,kscan = &kscan0;
    };
 };

&left_encoder {
    status = "okay";
};

&spi1 {
    status = "disabled";
};
